@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

:root {
  --theme: #7283f0;
  --light-theme: #808ff4;
}

.btn {
  background-color: #09090b;
  color: white;
  padding: 3px 5px;
}

.btn:hover {
  background-color: #18181b;
  color: white;
}

.btn-secondary:focus,
.btn-sm:focus,
.btn-sm:active,
.btn-secondary:active {
  outline: none;
  border: none;
}
